:root {
    --tamanhoFont: 1em;
    --corFont: #fff;
}

.cabecalho {
    color: var();
}

html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #b6325f, #ff887c);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 60px;
}

.cabecalho > img {
    display: flex;
    order: 1;
    margin: 80px 100px 0px 0px;
    width: 200px;
}

.textoContainer {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.textoContainer > h1 {
    font-size: 5.5em;
    font-weight: 100;
    color: #fff;
    font-family: 'Audiowide', sans-serif;
}
.textoContainer, .textoMenor {
    font-size: 0.8em;
}

.textoContainer > h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.textoContainer > p {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #fff;
    margin: 0;
    width: 60%;
    padding-top: 10px;
    line-height: 35px;
}

.formaBranca {
    position: absolute;
    width: 98.9%;
    border-style: solid;
    border-color: #fff;
    border-width: 350px 10px;
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
    z-index: -1;
}

.servicos {
    margin: 25px 0px 0px 60px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.listaItens {
    display: flex;
    flex-direction: column;
}

.servicos > h2 { 
    margin-top: 80px;
    font-size: 2.5em;
    font-weight: 100;
    color: #c14164;
    font-family: 'Audiowide', sans-serif;
}

.servicos > ul > li {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #c14164;
}

ul, li {
    display: flex;
}

ul > .barra {
    display: flex;
    border: solid 3px gray;
}

ul > img {
    width: 40px;
}
