body {
    margin: 10px;
    padding: 0;
    background-image: linear-gradient(to right, #b6325f, #ff887c);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    flex-grow: 10;
}

.cabecalho > img {
    display: flex;
    order: 1;
}